<!-- your html code here -->
<nav class="navbar navbar-expand-lg text-muted navbar  bg-dark border-bottom border-body ">
    <div class="container-fluid ">
      <a class="navbar-brand text-muted" >Start Botstrap</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon "></span>
      </button>
      <div class="collapse navbar-collapse " id="navbarText ">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link text-muted active" aria-current="page" href="#">Abaut</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-muted" href="#">Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-muted" href="#">Portfolio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-muted" href="#">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>